*,
body {
	font-family: "Hack NF";
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-align: center;
}
#logo-img {
	height: 12vw;
	margin-top: 1vw;
}

.Contenu {
	display: flex;
	justify-content: space-between;
	grid-gap: 3vw;
	margin: 2vw 8vw;
	font-size: 1.4vw;
}
.Liste-Sites,
.Connaissances,
.A-Propos {
	border: rgb(241, 241, 248);
	padding: 10px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.Connaissances,
.A-Propos {
	width: 30%;
}
.A-Propos ul {
	margin: 2vw;
	list-style: none;
	height: 80%;
	font-size: 1vw;
}
.A-Propos ul li {
	text-align: left;
	margin: 2vw;
}
.Liste-Sites {
	width: 40%;
}

.Liste-Sites ul,
.Connaissances ul {
	list-style: none;
}

.Liste-Sites li {
	margin: 2vw 0;
}

.Liste-Sites a {
	color: black;
}

.Connaissances li {
	margin: 2vw 0;
	display: flex;
	justify-content: space-between;
}

.Connaissances h3,
.Gauge {
	display: inline-block;
	font-size: 1.2vw;
	height: 1.2vw;
}
.Gauge {
	width: 13vw;
	border-radius: 20px;
	border: rgba(0, 0, 0, 0.24) solid 1px;
	padding: 1px;
}

@media only screen and (max-width: 600px) {
	*,
	body {
		font-size: 8px;
	}

	h2 {
		font-size: 12px;
	}
	.Contenu {
		flex-direction: column;
		align-items: center;
	}
	.Liste-Sites,
	.A-Propos,
	.Connaissances {
		width: 70vw;
	}

	.Connaissances h3 {
		font-size: 8px;
		height: 20px;
	}

	.Gauge {
		height: 8px;
		width: 18vw;
	}
	.A-Propos ul li {
		text-align: center;
	}
}
